
.mky-record:before { content: '\e800'; } /* '' */
.mky-audio-ephemeral:before { content: '\e801'; } /* '' */
.mky-mic-empty:before { content: '\e802'; } /* '' */
.mky-mic-filled:before { content: '\e803'; } /* '' */
.mky-picture:before { content: '\e804'; } /* '' */
.mky-menu-up:before { content: '\e805'; } /* '' */
.mky-search:before { content: '\e806'; } /* '' */
.mky-menu-down:before { content: '\e807'; } /* '' */
.mky-logout:before { content: '\e808'; } /* '' */
.mky-lock:before { content: '\e809'; } /* '' */
.mky-check:before { content: '\e80a'; } /* '' */
.mky-attach:before { content: '\e80b'; } /* '' */
.mky-attach_:before { content: '\e80c'; } /* '' */
.mky-trashcan-filled:before { content: '\e80d'; } /* '' */
.mky-trashcan-empty:before { content: '\e80e'; } /* '' */
.mky-timer-filled:before { content: '\e80f'; } /* '' */
.mky-timer-empty:before { content: '\e810'; } /* '' */
.mky-send-empty:before { content: '\e811'; } /* '' */
.mky-send-filled:before { content: '\e812'; } /* '' */
.mky-picture-ephemeral:before { content: '\e813'; } /* '' */
.mky-text-ephemeral:before { content: '\e814'; } /* '' */
.mky-location:before { content: '\e815'; } /* '' */
.mky-addregular:before { content: '\e816'; } /* '' */