@font-face {
  font-family: 'mky';
  src: url('../font/mky.eot?90804341');
  src: url('../font/mky.eot?90804341#iefix') format('embedded-opentype'),
       url('../font/mky.woff2?90804341') format('woff2'),
       url('../font/mky.woff?90804341') format('woff'),
       url('../font/mky.ttf?90804341') format('truetype'),
       url('../font/mky.svg?90804341#mky') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mky';
    src: url('../font/mky.svg?90804341#mky') format('svg');
  }
}
*/
 
 [class^="mky-"]:before, [class*=" mky-"]:before {
  font-family: "mky";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.mky-spin3:before { content: '\e800'; } /* '' */
.mky-spin4:before { content: '\e801'; } /* '' */
.mky-spin5:before { content: '\e802'; } /* '' */
.mky-spin6:before { content: '\e803'; } /* '' */
.mky-location-attach:before { content: '\e804'; } /* '' */
.mky-edit:before { content: '\e805'; } /* '' */
.mky-timer-filled:before { content: '\e806'; } /* '' */
.mky-audio-ephemeral:before { content: '\e807'; } /* '' */
.mky-trashcan-filled:before { content: '\e808'; } /* '' */
.mky-trashcan-empty:before { content: '\e809'; } /* '' */
.mky-send-filled:before { content: '\e80a'; } /* '' */
.mky-send-empty:before { content: '\e80b'; } /* '' */
.mky-mic-filled:before { content: '\e80c'; } /* '' */
.mky-mic-empty:before { content: '\e80d'; } /* '' */
.mky-addfilled:before { content: '\e80e'; } /* '' */
.mky-location:before { content: '\e80f'; } /* '' */
.mky-logout:before { content: '\e810'; } /* '' */
.mky-search-1:before { content: '\e811'; } /* '' */
.mky-lock:before { content: '\e812'; } /* '' */
.mky-picture-1:before { content: '\e813'; } /* '' */
.mky-check:before { content: '\e814'; } /* '' */
.mky-mic:before { content: '\e815'; } /* '' */
.mky-menu-down:before { content: '\e816'; } /* '' */
.mky-menu-up:before { content: '\e817'; } /* '' */
.mky-timer:before { content: '\e818'; } /* '' */
.mky-attach:before { content: '\e819'; } /* '' */
.mky-attach2:before { content: '\e81a'; } /* '' */
.mky-info:before { content: '\e81b'; } /* '' */
.mky-push:before { content: '\e81c'; } /* '' */
.mky-key:before { content: '\e81d'; } /* '' */
.mky-arrow-up:before { content: '\e81e'; } /* '' */
.mky-arrow-down:before { content: '\e81f'; } /* '' */
.mky-analytics:before { content: '\e820'; } /* '' */
.mky-add:before { content: '\e821'; } /* '' */
.mky-attach-1:before { content: '\e822'; } /* '' */
.mky-audio2:before { content: '\e823'; } /* '' */
.mky-close:before { content: '\e824'; } /* '' */
.mky-dot-2:before { content: '\e825'; } /* '' */
.mky-flickr:before { content: '\e826'; } /* '' */
.mky-down-open-big:before { content: '\e827'; } /* '' */
.mky-up-open-big:before { content: '\e828'; } /* '' */
.mky-cancel:before { content: '\e829'; } /* '' */
.mky-imagen-attach:before { content: '\e82a'; } /* '' */
.mky-document-attach:before { content: '\e82b'; } /* '' */
.mky-logout-1:before { content: '\e82c'; } /* '' */