body, html {
    margin: 0;
}
.mky-wrapper-out{
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2px;
}

.mky-header-exit{
  margin-top: 22px;
  margin-right: 9px;
}

.mky-content-audio-loading{
	top: 30px;
	float: none;
}

.mky-notification-amount {
    min-width: 10px;
    border-radius: 50%;
    background: #42a5f5;
    color: #fff;
    font-size: 8px;
    padding: 4px;
    text-align: center;
}

.mky-conversation-image {
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 10px 10px;
    border-bottom: 1px solid #F6F7F9;
}
.mky-conversation-description{
  margin-left:5px;
}
#mky-session-image {
    width: 40px;
    height: 40px;
    margin: 10px 20px;
    display: inline-table;
    vertical-align: top;
    float: left;
}

#mky-session-description {
    width: calc(100% - 80px);
    height: 100%;
    display: inline-table;
    vertical-align: top;
    float: left;
}
@media only screen and (max-width: 600px){

  /* Disappear description user session */
  #mky-session-name2{
	  display: none;
  }
}

.mky-logout{
	color: #6e8191;
  font-size: 19px;
}

.mky-conversation-state {
    color: #8a8a8a;
}

#mky-conversation-list {
    width: 100%;
    height: calc(100% - 50px);
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    background: #f6f7f9;
}

.mky-conversation-selected {
    background-color: #eaf0f9;
}

.mky-viewer-toolbar button{
  margin-top: 5px;
}
#mky-button-exit{
  margin-right: 7px;
}
#user_name{
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  min-width: 200px;
  font-size: 14px;
}
.mky-conversation-burger{
  width: 40px;
}

#mky-message-text-input{
  width: calc(100% - 124px);
  margin: 8px 10px;
}
#mnk-menu-attach-icon{
  margin-left: 15px;
}

#mky-content-connection{
  /*display: block;*/
}

.mky-spinner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.mky-status-sent .mky-check {
  font-size: 10px;
  font-weight: bold;
  color: #00bfa5;
}


@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 640px) and (min-device-width: 320px){
  .mky-message-line{
    max-width: 100%;
  }

}


/*OVERWRITING ANIMATION TIMES*/
.animated.zoomIn,
.animated.slideInLeft {
  animation-duration: 0.3s;
  animation-delay: 0s;
}
.animated.pulse{
  animation-duration: 0.5s;
}
/*END ANIMATION TIMES*/

.mky-file-ppt-icon{
  background-image: url(https://cdn.criptext.com/MonkeyUI/images/ppt-icon.png);
}

.mky-generic-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.mky-back-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.mky-inner-modal{
    width: 400px;
    height: 200px;
    background: white;
    margin: auto;
    top: 38%;
    position: relative;
    z-index: 200;
}

.mky-question{
    height: 20%;
    text-align: center;
    padding-top: 15%;
    margin-bottom: 5%;
    position: relative;
}

.mky-button-left{
    float: left;
    height: 15%;
    width: 30%;
    margin-left: 15%;
}

.mky-button-right{
    float: right;
    height: 15%;
    width: 30%;
    margin-right: 15%;
}


.mky-conversatio-description{
	font-size: none;
    text-align: none;
    white-space: none;
}
.mky-conversation-title{
	width: 99%;
	display: flex;
}
.mky-conversation-name{
	width: calc(100% - 70px);
	float: left;
	font-size: 14px;
    text-align: left;
    white-space: nowrap;
}
.mky-conversation-time{
	width: 65px;
	float: right;
	margin-left: 5px;
	text-align: right;
}

/*------------------------------
  NEW DESIGN FOR "HABLA"
------------------------------*/
.mky-chat-inner-timeline, .mky-chat-inner-input{
  max-width: 890px;
  margin: 0 auto;
}
.mky-chat-inner-input{
  height: 50px;
}
#mky-conversation-selected-image{
  margin-left: 25px
}
#mky-button-send-message{
  color: #00bfa5;
}

.mky-bubble{
  padding: 6px 10px 8px 14px;
  border-radius: 15px;
  max-width: 60%;
}

.mky-conversation-time span{
	font-size: 11px;
}

.mky-bubble-text-in{
  background: #00bfa5;
  border-bottom-left-radius: 1px;
  color: #fff;
}
.mky-bubble-text-out{
  background: #829be2;
  border-bottom-right-radius: 1px;
  border: none;
}
.mky-notification-amount{
  background: #8ec549;
  font-size: 9px;
  font-weight: bold;
}

#mky-button-attach{
  font-size: 28px;
  color: #8660a9;
}
#mky-chat-input{
  width: 100%;
  border-top: 1px solid #ccc;
  border-radius: 0;
  margin-top: 0px;
}
#mnk-menu-attach-icon,
#mnk-menu-attach-file{
  font-size: 50px;
  width: 100%;
  text-align: center;
  padding: 11px 0px 11px 0px;
  margin: 0;
  margin-top: 12px;
  color: #00bfa5;
  opacity: 0.8;
}
#mnk-menu-attach-icon:hover,
#mnk-menu-attach-file:hover{
  opacity: 1;
}

.menu-bubble{
  position: absolute;
  width: 100%;
  bottom: 51px;
  border: none;
  background: #F0f4fc;
  border-radius: 0;
  height: 120px;
  color: #8a8a8a;
  box-shadow: 1px -2px 7px -1px rgba(136, 136, 136, 0.67);
  -moz-box-shadow: 1px -2px 7px -1px rgba(136, 136, 136, 0.67);
  -webkit-box-shadow: 1px -2px 7px -1px rgba(136, 136, 136, 0.67);
  left: 0;
  top: initial;
  opacity: 1;
}
.menu-bubble-item{
  width: 49%;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
}
.menu-bubble-item:first-child{
  border-right: 1px solid #ccc;
}
.menu-bubble:before{
  content: none;
}
.menu-bubble-item:hover{
  background: #F0f4fc;
  color: #8a8a8a;
}
.mky-message-hour{
  font-size: 9px !important;
}
.mky-message-status{
  margin: 1px;
  margin-left: 5px;
  margin-top: -1px;
  margin-right: -1px;
}
.mky-bubble-audio-button:hover{
  cursor: pointer;
}
#mky-divider-chat-input{
  border: none;
}
.mky-button-input{
  /*vertical-align: middle;*/
}
#mky-button-record-audio{
  color: #00BFA5;
}
#mky-message-text-input{
  top: initial;
  transform: none;
}

.mky-bubble-audio-play-button{
  background: url('../images/Green-Play-Button.png');
  width: 60px;
  background-position: 50%;
background-size: 100%;
}
.mky-bubble-audio-pause-button{
  background: url('../images/Green-Pause-Button.png');
  width: 60px;
  background-position: 50%;
background-size: 100%;
}
